.footer {
    color: #999;
    background-color: #005cac;
    border-top: 5px solid #e5e5e5;
    margin-top: 60px;

    .container {
        @media only screen and (min-width: 479px) {

        }
    }
}