.navigation {
    height: 50px;
}

.navigation_list {
    width:15%;
    display:inline-block;
}

.navigation_list a {
    text-decoration: none;
}

.navigation_list--active{
    border-color: #005CAC;
    background-color: #005CAC;
}

.navigation_list--active a{
    color: #FFFFFF;
}

.navigation_link {
    display: block;
    font-size: 12px;
    line-height: 38px;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
    color: #383838;
    border: 1px solid #e5e5e5;
    border-left: none;
    box-shadow: 1px 0 rgba(255,255,255,0.75);
}